<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Video</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
<div class="content container">
    <header class="page-header">
        <h1>경기 영상 업로드를 아래의 메일주소로 요청합니다.</h1>
    </header>
    <div class="row">
        <div class="col-md-16">
            <p>
                <br>
                메일의 제목에 경기 이름을 적어주세요. <br>ex [인천FC vs 서울FC]<br><br>
                메일의 내용에는 요청자의 이름과 경기 날짜, 풋살장의 이름을 적어주세요.<br> ex[김철수, 2020년 5월 6일, 용산풋살장]
                <br><br>
                <i class="far fa-envelope"></i><a href="mailto:gowjr207@naver.com">&nbsp;
                gowjr207@naver.com</a><br><br>

                Thank you!
            </p>
            <a class="btn btn-default" href="/" style="float: right;">Close</a>
        </div>
    </div>
</div>
</body>
</html>